{% extends "layout.html" %}

{% block content %}
<div>
    <center>
        <h1>Error 404</h1>
        <p>Page Not Found</p>
    </center>
    <div>
        <img src="/static/images/Memes/league_meme.png" id="image" alt="league_meme">
        <img src="/static/images/Memes/league_meme(2).png" id="image2" alt="league_meme2">
        <img src="/static/images/Memes/league_meme(3).png" id="image3" alt="league_meme3">
        <img src="/static/images/Memes/league_meme(4).png" id="image4" alt="league_meme4">
        <img src="/static/images/Memes/league_meme(5).png" id="image5" alt="league_meme5">
    </div>
</div>
{% endblock %}
