{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About the support role</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>About League of Legends</h1>
    <p><strong>League of legends (LoL)</strong> is a multiplayer online battle arena (MOBA) game developed and published by Riot Games. It was released in October 2009 and has since become one of the most popular esports titles worldwide.</p>

    <h2>Support Characters</h2>
    <p>In League of Legends, support characters play a crucial role in assisting their team by providing utility, protection, and crowd control. Supports typically work alongside the AD carry in the bottom lane and help ensure their survival and success in the early and mid-game phases.</p>

    <h3>Common Jobs of Support Characters</h3>
    <ul>
        <li><b>Healing:</b>Some supports have the ability to heal their allies, keeping them alive in team fights and during the laning phase.</li>
        <li><b>Crowd Control:</b>Many support characters have abilities that can stun, slow, or immobilize enemies, making it easier for their team to secure kills or escape danger.</li>
        <li><b>Vision Control:</b>Supports often place wards around the map to provide vision, allowing their team to spot enemy movements and avoid ambushes.</li>
        <li><b>Peeling:</b>Support champions often protect their allies by using abilities to keep enemies away from them, especially during team fights.</li>
    </ul>
</body> 
</html>
{% endblock %}