{% extends "Home.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="scrollable-container">
        <ul class="scrollable-list">
            <li><button type="button">
                <a href="http://127.0.0.1:5000/char/1">
                    <img src="/static/images/Champion_Icons/AlistarSquare.png" alt="AlistarSquare" border="0" id="Icons"/>
                </a>
              </button></li>
            <li><button type="button">
                <a href="http://127.0.0.1:5000/char/2">
                    <img src="/static/images/Champion_Icons/AsheSquare.png" alt="AsheSquare" border="0" id="Icons"/>
                </a>
              </button></li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>
    </div>
</body>
</html>

{% endblock %}