{% extends "layout.html" %}

{% block title %}
    {{ champ['name'] }} - Best Build
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/style.css" />

<div class="champion-info-container">
    <!-- Champion information -->
    <div class="champion-info">
        <h1>{{ champ[1] }}</h1>
        <h2>{{ champ[2] }}</h2>

        <!-- Best items -->
        <section class="best-items">
            <h2>Best Items</h2>
            <ul>
                {% for item in items %}
                <li>{{ item[0] }}</li>
                {% endfor %}
            </ul>
        </section>

        <!-- Champion statistics -->
        <article class="champion-stats">
            <h3>Champion Statistics:</h3>
            <p>
                <strong>Pickrate:</strong> {{ champ[3] }}<br>
                <strong>Winrate:</strong> {{ champ[4] }}<br>
                <strong>Banrate:</strong> {{ champ[5] }}
            </p>
        </article>

        <div class="champion-image">
            <img src="{{ champ[6] }}" alt="{{ champ['name'] }} image" id="champion_bg">
        </div> <!-- champion-image -->
    </div> <!-- champion info -->

    <!-- Video Player -->
    <div class="video-container">
        <h2>Champion Spotlight</h2>
        <iframe width="100%" height="300" src="{{ champ[7]}}" frameborder="0"
            allowfullscreen></iframe>
    </div> <!-- Video Container -->
</div> <!-- champion info container -->

<!-- Footer -->
<footer class="champion-footer">
    <a href="{{ url_for('champion_listpage') }}">Back to Champions List</a>
</footer>
{% endblock %}
