{% extends "Home.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="scrollable-container">
        <ul class="scrollable-list">
            <li><button type="submit">
                <img src="/static/images/Champion_Icons/AlistarSquare.png" alt="AlistarSquare" border="0" class="Icons" />
              </button></li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
            <li>Item 7</li>
            <li>Item 8</li>
            <li>Item 9</li>
            <li>Item 10</li>
            <li>Item 11</li>
            <li>Item 12</li>
            <!-- Add more items as needed -->
        </ul>
    </div>
</body>
</html>

{% endblock %}