{% extends "layout.html" %}

{% block content %}
<head>
    <title>{{ champ['name'] }} - Best Items</title>
</head>
<div class="champion-stats">
    <body>
        <h1>{{ champ[1] }}</h1>
        <h1>{{ champ[2] }}</h1>
        <h2>Best Items</h2>
        <ul>
            {% for item in items %}
            <li>{{ item[0] }}</li>
            {% endfor %}
        </ul>
        <article>
            <h3>Champion Statistics:</h3>
            <p>WR{{ champ[4] }} BR{{ champ[5] }} PR{{ champ[6] }}</p>
        </article>
        {% for champ in champions %}
        <div class="champion" style="Background-Splash: url
        {% endfor %}
    </body>
</div>
{% endblock %}