{% extends "layout.html" %}

{% block content %}
<head>
    <title>In Depth Guide To Support</title>
    <link rel="stylesheet" href="style.css"
</head>
 <body>
    <!-- nav page for each section of guide -->
    <nav>
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#intro">1. What Is The Support Role? </a></li>
            <li><a href="#laning">2. The Laning Phase</a></li>
        </ul>
    </nav>

    <main>
        <h1>How To Play Support</h1>

        <section id="intro">
            <h2>1. What Is The Support Role?</h2>
            <p>The support role in League of Legends is one of the five main roles on a team. As a support, your primary responsibility is to assist your teammates, especially your AD carry (ADC) in the bottom lane, in gaining an advantage over the enemy team. Supports achieve this through a combination of vision control, peeling (protecting your carries), crowd control (CC), and utility.</p>
            <li>
                <b>Protecting Your Carry:</b>Use your abilities and items to keep your ADC alive, allowing them to farm and deal damage.
            </li>
            <li>
                <b>Vision Control:</b>Place wards to provide vision of key areas of the map, preventing ganks and providing information on enemy movements.
            </li>
        </section>

        <section id="laning">
            <h2>2. The Laning Phase</h2>
            <p></p>
        </section>
    </main>
 </body>
{% endblock %}