<!doctype html>
<html lang="en">
  <head>
    <title>Support Champions</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>      
      <center><h1>Support Champions</h1></center>
    </header>
    <body>
      <img src="/static/images/Support_icon.png" id="logo_icon" alt="support_icon">
    </body>
    <nav>
      <center>
        <a href="http://127.0.0.1:5000/"><button>Home</button></a>
        <a href="http://127.0.0.1:5000/about"><button>about</button></a>
        <a href="http://127.0.0.1:5000/champion_list"><button>Champions</button></a>
        <a href="http://127.0.0.1:5000/item_list"><button>Items</button></a>
      </center>
    </nav>
    <main>
      {% block content %}
      
      {% endblock %}
    </main>
    <footer class=".credits">Made 2024 by Justin Hsiao</footer>
  </body>
</html>

