<!doctype html>
<html lang="en">
  <head>
    <title>Support Champions</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <div class="tests">
   <body>
     <header class="title">      
       <center><h1>Support Champions</h1></center>
       </header>
     <body>
    </div>
      <img src="/static/images/Support_icon.png" id="logo_icon" alt="support_icon">
    </body>
    <div>
    <nav>
      <center>
        <a href="http://127.0.0.1:5000/"><button>Home</button></a>
        <a href="http://127.0.0.1:5000/about"><button>about</button></a>
        <a href="http://127.0.0.1:5000/champion_list"><button>Champions</button></a>
        <a href="http://127.0.0.1:5000/item_list"><button>Items</button></a>
      </center>
    </nav>
    </div>
    <main>
      {% block content %}
      
      {% endblock %}
    </main>
    <footer class=".credits">Made 2024 by Justin Hsiao
      <a href="https://www.leagueoflegends.com/en-au/">Official League of Legends Website</a>
    </footer>
  </body>
</html>

