{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/style.css" />

<div class="champion-info-container">
    
    <!-- Champion information -->
    <div class="champion-info">
        <h1>{{ item[1] }}</h1>
        <h2><b>Cost:</b> {{ item[2] }}</h2> 
        <p>{{ item[3] }}</p> 
        
        <img src="{{ url_for('static', filename='images/item_icons/' ~ item['name'] ~ '.png') }}" 
        alt="{{ item['name'] }}" class="item-icon"/>      
    </div> <!-- champion info -->
</div> <!-- champion info container -->

<!-- Footer -->
<footer class="champion-footer">
    <a href="{{ url_for('item_listpage') }}">Back to Items List</a>
</footer>
{% endblock %}