{% extends "layout.html" %}

{% block content %}
<div class="item-list-container">
    <h1>Item List</h1>
    <div class="scrollable-item-list">
        {% for item in gear %}
            <div class="item">
                <!-- Wrap the icon and name in a link to the item page -->
                <a href="{{ url_for('gear', id=item['id'], name=item['name']) }}">
                    <img src="{{ url_for('static', filename='images/item_icons/' ~ item['name'] ~ '.png') }}" 
                        alt="{{ item['name'] }} icon" class="item-icon">
                    <p>{{ item['name'] }}</p>
                </a>
            </div> <!-- item -->
        {% endfor %}
    </div> <!-- scrollable-item-list -->
</div> <!-- item-list-container -->

<section class="sec1">
    <h1>About Items</h1>
    <p><strong>An item is a modular enhancement that the player can equip in-game, usually purchasable for gold. Items are often fashioned into objects from Runeterran lore, otherwise following the theme of the game's background setting.</p>
        <p>Items can be purchased from the shop. The player's inventory can contain up to six items and one trinket at a time, making the choice of items an important factor in a champion's strength.</p>
</section>

<section class="sec3">
    <h3>Effects</h3>
    <ul class="list-sec">
        <li><b>Stat buffs:</b> improve the champion's statistics. Most items grant some form of stat buff.</li>
        <li><b>Passive effects:</b> are constantly active while the champion has the item equipped, like champion.</li>
        <li><b>Auras:</b> are buffs or debuffs that affect nearby friendly or enemy units, respectively. All aura effects are unique.</li>
        <li><b>Active effects:</b> They are activated by clicking on the item or by pressing the item's hotkey.</li>
    </ul>
</section>

<section class="sec4">
    <h3>Classifications</h3>
    <ul class="list-sec">
        <li><b>Starter:</b> These items are intended as effective starting items at the beginning of the game. These items usually do not build into higher-tier items.</li>
        <li><b>Basic:</b> These items provide a single stat attribute or special effect.</li>
        <li><b>Epic:</b> These items provide additional stats and/or a special effect. Some epic items offer lesser effects of the legendary item(s) that they build into.</li>
        <li><b>Legendary:</b> These items provide the greatest stats and a significant special effect. They do not build into other items.</li>
    </ul>
</section>
{% endblock %}