<!doctype html>
<html lang="en">
  <head>
    <title>Support Champions</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="webpage">      
      <center><h1>Support Champions</h1></center>
    </header>

    <div class="tests">
      <img src="/static/images/Misc/Support_icon.png" id="logo_icon" alt="support_icon">
    </div>

    <nav>
      {% include "nav.html" %}
    </nav>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      {% include 'Footer.html' %}
    </footer>
  </body>
</html>
