<!doctype html>
<html lang="en">
  <head>
    <title>Support Champions Homepage</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="webpage">      
      <center><h1>Support Champions</h1></center>
      <img src="/static/images/Misc/Support_icon.png" alt="Support Icon" class="logo-icon">
    </header>

    <nav>
      {% include "nav.html" %}
    </nav>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      {% include 'Footer.html' %}
    </footer>
  </body>
</html>
