{% extends "layout.html" %}

{% block content %}
<head>
    <title>Champion Synergies</title>
</head>
<body>
    <div class="synergy-container">
        <h1>Champion Synergies</h1>
        {% for synergy_batch in synergies|batch(9) %}
        <div class="row">
            {% for synergy in synergy_batch %}
            <div class="icon-pair">
                <img src="{{ synergy.adc_icon }}" alt="{{ synergy.adc_name }}">
                <span>{{ synergy.adc_name }}</span>
                <img src="{{ synergy.support_icon }}" alt="{{ synergy.champion_name }}"> 
                <span>{{ synergy.champion_name }}</span>
            </div> <!-- icon-pair -->
            {% endfor %}
        </div> <!-- row -->
        {% endfor %}
    </div><!-- synergy-container -->
</body>
{% endblock %}
