{% extends "layout.html" %}

{% block content %}
<head>
    <title>Tierlist</title>
</head>
<H2>Please note this is just my opinion</H2>
<body>
    <div class="tier-list">
        <!-- S Tier -->
        <div class="tier s-tier">
            <h2>S Tier</h2>
            <div class="tier-images">
                <img src="/static/images/Champion_Icons/NamiSquare.png" alt="Nami">
                <img src="/static/images/Champion_Icons/LeonaSquare.png" alt="Leona">
                <img src="/static/images/Champion_Icons/RakanSquare.png" alt="Rakan">
                <img src="/static/images/Champion_Icons/JannaSquare.png" alt="Janna">
                <img src="/static/images/Champion_Icons/MilioSquare.png" alt="Milio">
                <img src="/static/images/Champion_Icons/RellSquare.png" alt="Rell">
                <img src="/static/images/Champion_Icons/ThreshSquare.png" alt="Thresh">
                
            </div>
        </div>

        <div class="tier-list">
            <!-- A Tier -->
            <div class="tier a-tier">
                <h2>A Tier</h2>
                <div class="tier-images">
                    <img src="/static/images/Champion_Icons/BardSquare.png" alt="Nami">
                    <img src="/static/images/Champion_Icons/CamilleSquare.png" alt="Leona">
                    <img src="/static/images/Champion_Icons/LuluSquare.png" alt="Rakan">
                    <img src="/static/images/Champion_Icons/KarmaSquare.png" alt="Rakan">
                    <img src="/static/images/Champion_Icons/BraumSquare.png" alt="Rakan">
                </div>
            </div>

         <div class="tier-list">
             <!-- B Tier -->
            <div class="tier B-tier">
                <h2>B Tier</h2>
                <div class="tier-images">
                    <img src="/static/images/Champion_Icons/NamiSquare.png" alt="Nami">
                    <img src="/static/images/Champion_Icons/LeonaSquare.png" alt="Leona">
                    <img src="/static/images/Champion_Icons/RakanSquare.png" alt="Rakan">
                    </div>
                </div>

                <div class="tier-list">
                    <!-- C Tier -->
                   <div class="tier C-tier">
                       <h2>C Tier</h2>
                       <div class="tier-images">
                           <img src="/static/images/Champion_Icons/NamiSquare.png" alt="Nami">
                           <img src="/static/images/Champion_Icons/LeonaSquare.png" alt="Leona">
                           <img src="/static/images/Champion_Icons/RakanSquare.png" alt="Rakan">
                           </div>
                       </div>
                
                       <div class="tier-list">
                        <!-- D Tier -->
                       <div class="tier D-tier">
                           <h2>D Tier</h2>
                           <div class="tier-images">
                               <img src="/static/images/Champion_Icons/NamiSquare.png" alt="Nami">
                               <img src="/static/images/Champion_Icons/LeonaSquare.png" alt="Leona">
                               <img src="/static/images/Champion_Icons/RakanSquare.png" alt="Rakan">
                               </div>
                           </div>

                           <div class="tier-list">
                            <!-- F Tier -->
                           <div class="tier F-tier">
                               <h2>F Tier</h2>
                               <div class="tier-images">
                                   <img src="/static/images/Champion_Icons/NamiSquare.png" alt="Nami">
                                   <img src="/static/images/Champion_Icons/LeonaSquare.png" alt="Leona">
                                   <img src="/static/images/Champion_Icons/RakanSquare.png" alt="Rakan">
                                   </div>
                               </div>
                            </body>
{% endblock %}