@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



champion-stats {
    padding: 20px;
    background-color: #ad3f3f;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}
header {
    background: #005A82;
    position: sticky;
    position: top;
    font-family: "Oswald";
}

#logo_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}

body {
    background: #CDFAFA;
}
